
.c1{
    width: screen;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
}

.c2{
    width: 85%;
    height: 100%;
}